the woods in this mod cannot be checked off until they contain the following

plank
stair
slab
fence
gate
door
trapdoor
pressure plate
button
leaves
sapling
sign

the ones they all have that are kept are there for sorting purposes